body {
    display: block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background-image: url(./images/geometrical-bg.png);
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid yellow;
}

.container {
    border: 1px solid yellow;
 }

header {
    display: flex;
    justify-content: center;
    flex-direction: column;    
    border: 1px solid white;
    max-width: 1110px;
    margin: auto;
    margin-top: 60px;
}

.navbar {
    display: flex;
    flex-direction: row;
    border: 1px solid violet;
    justify-content: space-between;
}

.primary-nav {
    border: 1px solid blue;
    font-weight: 700;
}

.secondary-nav {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    gap: 7em;
}

.primary-items {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    margin-bottom: 20%;
    border: 1px solid green;
}

.secondary-items {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    height: 100%;
    position: relative;
}

.description {
    display: flex;
    flex-direction: row;
    gap: 1em;
    border: 1px solid green;
}

.logo img {
    max-width: 58px;
}

.footer-logo img {
    max-width: 58px;
}

.footer-list {
    display: flex;
    flex-direction: row;
}
.footer-items {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;    
    background-color: #030E25;
    border: 1px solid #7799d8;
    max-width: 1110px;
    margin: auto;
    margin-top: 60px;
}
.underline {
    background-color: #C5D0DF;
    width: 100%;
    height: 2px;
    border: 1px solid rgb(128, 0, 111);
}

.secondary-selected {
    background-color: gold;
    width: 265px;
    height: 4px;
    position: absolute;
    bottom: -3px;
    border: 1px solid rgb(255, 255, 255);
}

.primary-selected {
    background-color: gold;
    width: 100px;
    height: 4px;
    border: 1px solid rgb(255, 255, 255);
}

ul {
    list-style-type: none;
    font-size: 1.5em;
}

h1 {
    color: #ffff;
    font-size: 4em;

}

h3 {
    color: #ffff;
    font-size: 1.2em;
}

p {
    color: #ffff;
    font-size: 1em;
    font-weight: 400;
}

a {
    display: flex;
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue;
}


