body {
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.footer {
    background-color: #030E25;
    min-height: 500px;
}

header {
    background-image: url(./images/geometrical-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header--background {
    justify-content: center;
    flex-direction: column;
    max-width: 1110px;
    margin: auto;
    
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.primary--nav .primary--item--1, .primary--item--3, .primary--item--2--active  {
    font-size: 10px;
    font-size: 26px;
    font-weight: 400;
}

.primary--nav .primary--item--2--active {
    color: white;
}

#primary--items {
    display: flex;
    gap: 40px;
    padding: 0;
    border-bottom: none;
}

#secondary--items {
    display: flex;
    gap: 46px;
}

.logo img {
    max-width: 58px;
    margin-bottom: 98px;
}

.footer--logo img {
    max-width: 58px;
}

.footer--logo {
    margin-right: 320px;
}

.footer--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
}

.footer--items li {
    margin-bottom: 16px;
}

.thin--line {
    background-color: #C5D0DF;
    max-width: 1110px;
    height: 1px;
}

footer {
    background-color: #030E25;
    min-height: 500px;
}

.footer--container {
    display: flex;
    max-width: 1110px;
    margin: auto;
    padding-top: 60px;
}

.underline {
    background-color: #ffb800;
    margin-top: 30px;
    width: 41px;
    min-height: 4px;
}

.primary--item--2--active .underline {
    display: block;
}

.secondary--nav {
    border-bottom: 1px solid #C5D0DF;
}

.secondary--item--3 .underline {
    display: block;
    width: 230px;
}

.link--name {
    font-weight: 600;
    font-size: 26px;
    display: inline-block;
    color: #7D93AD;
    text-decoration: none;
}

.secondary--link--name {
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    color: #7D93AD;
    text-decoration: none;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    color: #ffff;
    font-size: 80px;
}

h2 {
    font-size: 66px;
    line-height: 74px;
    color: #030E25;
    margin-bottom: 20PX;
}

h3 {
    font-weight: 700;
    font-size: 34px;
    line-height: 86px;
}

h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 16px;
}

p {
    display: block;
    list-style-type: none;
    color: #3A4C62;
    text-decoration: none;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 32px;
    margin-top: 6px;
}

li p {
    color:#9BAEC7;
    font-size: 14px;
}

#CTA--copy {
    font-size: 21px;
    font-weight: 400;
    max-width: 540px;
    line-height: 32px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}

.subscribe {
    max-width: 1110px;
    min-height: 600px;
    display: block;
    margin: 0 auto;
}

.subscribe--button {
    background-color: #ffb800;
    font-weight: 900;
    width: 140px;
    height: 53px;
    color: #030E25;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

input::placeholder {
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
    color: #7584A3;
    padding: 19px;
}


#subscriber--email {
    min-width: 268px;
    min-height: 53px;
    box-sizing: border-box;
    border: 1px solid #C5D0DF;
}

.section--4 {
    background-image: url(./images/Subscribe.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.input--section {
    margin-bottom: 200px;
    margin-top: 150PX;
    padding-top: 120px;
}


.article--details {
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-bottom: 40px;
}

.star {
    width: 24px;
    height: 24px;
    margin-right: 18px;
}

.featured--title {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #030E25;
}

.article--hero {
    width: 100%;
    margin-bottom: 67px;
    border: 1px solid #d1d8e2;
}

.overline {
    font-size: 13px;
    font-weight: 800;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #FFBA0A;
    margin-bottom: 46px;
    margin-top: 45px;
    margin-bottom: 30px;
    max-width: 284px;

}

.feature--headline {
    margin-bottom: 40px;
    margin-top: 0;
}

.arrow {
    max-height: 12px;
    max-width: 24px;
    margin-left: 22px;
}

.flex {
    display: flex;
}

.article--link {
    align-items: center;
}

.link {
    font-size: 16px;
    line-height: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #7D93AD;
}

.featured--article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    max-width: 825px;
}

li {
    text-decoration: none;
    list-style-type: none;
}

.topics--title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    color: #030E25;
    margin-bottom: 41px;
}

.topics li a {
    font-size: 20px;
    line-height: 57px;
    font-weight: 500;
    color: #536377;
}

.section--2 {
    max-width: 1110px;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 70px;
    margin-top: 100px;
}

.cards {
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border-left: 1px solid #D6DDE8;
    border-right: 1px solid #D6DDE8;
    border-bottom: 1px solid #D6DDE8;
    min-height: 440px;
    padding-left: 33px;
    max-width: 350px;
    margin-bottom: 70px;
    box-sizing: border-box;
}

.brown {
    border-top: 4px solid #974C37;
}

.blue {
    border-top: 4px solid #9BC6BA;
}

.orange {
    border-top: 4px solid #DF8B3D;
}

.green {
    border-top: 4px solid #7F9E52;
}

.pink {
    border-top: 4px solid #DCC2BF;
}

.yellow {
    border-top: 4px solid #C7B61B;
}

.card h4 {
    max-width: 284px;
}

.card--title {
    margin-top: 0;
    margin-bottom: 50px;
}

.card--paragraph {
    margin-bottom: 94px;
    max-width: 284px;
    font-size: 17px;
    line-height: 26px;
    padding-right: 30px;
}

.author {
    margin-bottom: 30px;
    max-width: 284px;
    font-size: 13px;
    line-height: 16px;
    color: #7D93AD;
    text-transform: uppercase;
    font-weight: 500;
}

.section--3 {
    flex-direction: column;
    margin: auto;
    max-width: 1110px;
}

.footer--item--head {
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 36px;
}

.footer--item {
    font-size: 16px;
    color: #9BAEC7;
    margin-bottom: 8px;
}

.footer--items {
    font-weight: 400;
    margin-top: 0;
}

.topics_arrow, .topics_arrow_close, .mobile--nav {
    display: none;
}

.nav--head {
    display: none;
}


@media (max-width: 1000px) {
    h1 {
        font-size: 64px;
    }

    .header--background, .section--2, .section--3, .footer--container, .subscribe {
        margin-left: 24px;
        margin-right: 24px;
    }

    .topics--title {
        display: none;
    }

    .section--2 {
        flex-direction: column-reverse;
        margin-top: 52px;
    }

    .topics-list {
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: space-evenly;
    }

    #subscriber--email {
        min-width: 268px;
        min-height: 53px;
    }

    .footer {
        flex-wrap: wrap;
        gap: 52px;
    }

    .footer--logo {
        margin-right: 20px;
    }

    .footer--list {
        gap: 40px;
    }

    .article--details {
        display: none;
    }

    .section--4 {
        background-position: bottom;
    }

}

@media (max-width: 480px) {

    footer {
        margin-top: 0px;
    }

    .footer {
        flex-wrap: wrap;
        gap: 52px;
    }

    .footer--logo {
        margin-right: 20px;
    }

    .footer--list {
        gap: 40px;
    }

    h1 {
        font-size: 45px;
        line-height: 50px;
    }

    h2 {
        font-size: 42px;
        line-height: 45px;
    }

    #subscriber--email{
        margin-bottom: 20px ;
    }

    .section--2 {
        margin-top: 52px;
    }
    .section--2, .section--3, .subscribe, .footer--container, .header--background {
        margin-left: 24px;
        margin-right: 20px;
    }

    #CTA--copy {
        margin-bottom: 40px;
    }

    #subscriber--email {
        min-width: 268px;
        min-height: 53px;
    }

    .article--details {
        display: none;
    }

    .navbar, #secondary--items {
        display: none;
    }

    .mobile--nav {
        flex-direction: column;
        margin-top: 52px;
        margin-bottom: 0px;
    }

    li a {
        color: #7D93AD;
        font-weight: 500;
        font-size: 16px;
    }

    .thin--line {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .logo {
        margin-bottom: 24px;
        max-width: 52px;
    }

    .underline {
        margin-top: 24px;
        min-width: 156px;
    }

    #active {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .topics ul {
        flex-direction: column;
    }

    .topics--title {
        font-size: 16px;
        font-weight: 600;
        color: #3A4C62;
        display: block;
        margin-bottom: 0px;
    }

    .topics--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    .topics li a {
        font-size: 16px;
    }

    .nav--head {
        justify-content: space-between;
        margin-top: 24px;
        display: flex;
    }

    .exit--menu {
        max-height: 26px;
    }

    .menu {
        height: 15px;
    }
    .mobile--nav {
    display: flex;
    }

    .mobile--nav li {
        border-bottom: 2px solid white;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .topics_arrow {
        display: flex;
        min-width: 10px;
        max-height: 10px;
    }

    .topics_arrow_close {
        display: flex;
    }

   

    .section--4 {
        min-height: 400px;
    }

    .input--section {
        padding-top: 48px;
        padding-bottom: 48px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .article--hero {
        margin-bottom: 0PX;
    }

    .hide {
        display: none;
    }

}