body {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
    border: 1px solid yellow;
    background-image: url('/images/geometrical-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 1110px;
    display: flex;
    justify-content: center;
    flex-direction: column;    
    border: 1px solid white;
    margin-top: 10%;
    margin-bottom: 10%;

}

.navbar {
    display: flex;
    flex-direction: row;
    border: 1px solid violet;
    justify-content: space-between;
    margin-bottom: 8%;

}
.primary-nav {
    border: 1px solid blue;
}

.secondary-nav {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 8%;

}

.primary-items {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    border: 1px solid green;
}

.secondary-items {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
}

.description {
    display: flex;
    flex-direction: row;
    gap: 1em;
    border: 1px solid green;
}

.logo img {
    max-width: 58px;
}

.underline {
    border-bottom: 1px solid black;

}
.rectangle {
    background-color: gold;
    width: 265px;
    height: 4px;
}

ul {
    list-style-type: none;
    font-size: 26px;
}

h1 {
    color: #ffff;
    font-size: 86px;
}

h3 {
    color: #ffff;
    font-size: 20px;
}

a {
    display: flex;
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue;
}

p {
    color: #ffff;
    font-size: 20px;

}
